#canvas-container{
    margin-top: 20px;
    width: 100%;
    height: 370px;          
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#canvas-container canvas{
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    border-radius: 10px;
}


main{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
}

#data{
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-image: linear-gradient(to right bottom, #36ff5e50, #74ff7f50, #9bff9d50, #bbffba50, #d8ffd650, #36ff5e50);
    border-left: 3px solid #36ff5e50;
    padding: 10px;
    border-radius: 10px;
}

#containt-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-top: 25px;
}

#m2{
    padding: 5px;
    border-radius: 10px;
    outline:none;
    border: none;
    background-image: linear-gradient(to right, #3650ff70, #7a6fff70, #a390ff70, #c5b2ff70, #e2d6ff70);
    border: 1px #3650ff70 solid;
    transition: all 225ms ease-in-out;
}

#m2:hover{
    box-shadow: 0 0 10px #3650ff70;
}

#title{
    font-size: 50px;
    background-image: linear-gradient(to right, #bc00ff, #b14aff, #a969ff, #a580fe, #a694f7);
    background-clip:text;
    color: transparent;
}

#pi{
    font-size: 90px;
    color: black;
}

#comand-bar{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "box2 box3"
        "box1 box1";
    gap: 10px;
    height: 60%;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    backdrop-filter: blur(8px);
    background-color: #a680fe78;
}

#button-8 {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
}

#button-8:focus {
  outline: 0;
}

#button-8 {
  touch-action: manipulation;
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  border-radius: 8px;
  color: #fff;
  font-feature-settings: "ss01", "cv10", "calt"0, "liga"0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

#button-8::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

#button-8::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

#button-8::after,
#button-8::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

#button-8::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

#button-8:active {
  transform: translateY(1.5px);
}

#button-8:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

#button-8:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .2) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}

#replay{
    background-color: transparent;
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    cursor: pointer;
    background-image: none;
    transition: all 225ms ease-in-out;
}

#replay-icon{
    display: inline-block;
    transition: all 225ms ease-in-out;
}

#replay:hover{
    border: none;
    transform: translateY(-5px) scale(1.05);
    background-image: linear-gradient(to right bottom, #ff6347, #ff7664, #ff897f, #ff9d99, #ffb0b0);
    color: aliceblue;
}

#replay:active{
    transform: translateY(5px);
}

#replay:hover #replay-icon{
    transform: rotate(90deg);
}

#pause{
    background-image: linear-gradient(to right bottom, #47ff8f, #81ff9d, #a7ffae, #c4ffc0, #ddffd5);
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #6ccb80;
    color: rgb(240, 248, 255);
    transition: all 100ms ease-in-out;
}

#pause:hover{
    box-shadow:0 0 8px #a7ffae;
}

#pause:active{
    border-bottom-width: 0px;
    transform: translateY(3px);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}

#explanation{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 12px;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(to right bottom, #ff475270, #ff7a6470, #ffa28170, #ffc6a770, #ffe6d570);
    padding: 10px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.buttons{
    height: 100%;
}

#pi-aproximation{
    align-self: center;
    justify-self: center;
    margin-left: 5%;
    font-size: 50px;
    transform: translateY(-50%);
}