html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

body{
    font-family: Raleway;
}

header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 500px;
}

#title{
    position: relative;
    font-size: 85px;
    width: fit-content;
    margin: auto;
    color: transparent;

}

#subtitle{
    font-size: 25px;
    width: fit-content;
    color: rgb(120, 120, 120);
    margin-left: 10px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    align-self: center;
}

#title::after{
    content: "C";
    position: absolute;
    inset: 0; 
    font-size: inherit;
    background-image: linear-gradient(
        to right,
        rgb(133, 131, 212),
        rgb(181, 35, 64),
        rgb(133, 131, 212)

    );
    background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation: TextAparition 2s steps(8) forwards, OpacityTransition 0.5s steps(8) forwards, ColorMove 4s infinite;
}

@keyframes TextAparition {
    0% {
        content: "C";
    }
    12.5% {
        content: "Co";
    }
    25% {
        content: "Cos";
    }
    37.5% {
        content: "Cosm";
    }
    50% {
        content: "Cosmo";
    }
    62.5% {
        content: "CosmoL";
    }
    75% {
        content: "CosmoLa";
    }
    100% {
        content: "CosmoLab";
    }
}

@keyframes OpacityTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ColorMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}