html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/26274.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(173, 216, 230, 0.521);
    border: 2px paleturquoise solid;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px skyblue;
    transition: all, 225ms;
}

.info-container:hover{
    background-color: rgba(179, 211, 222, 0.608);
}

.inputs{
    border: 1px solid plum;
    border-radius: 5px;
    width: 55%;
    outline: none;
    transition: all 125ms;
}

.inputs:hover{
    border-width: 2px;
    box-shadow: 0 0 10px rgb(251, 163, 251);
}

.inputs:active{
    border-width: 2px;
    box-shadow: 0 0 10px rgb(251, 163, 251);    
}

#title{
    color:plum;
    margin-left: 1%;
    font-family: Raleway;
    font-size: 30px;
    position: relative;
    margin: none;
    text-shadow: 0 0 10px rgb(238, 183, 238);
}

#explanations{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 128, 128, 0.59);
    border-radius: 5px;
    width: 100%;
    position: relative;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px lightsalmon;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%; 
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 15px;
}

#text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    padding: 10px;
    min-height: 100%; 
    align-self: center;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border-radius: 10px;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: flex;              
  align-items: center;        
  justify-content: center; 
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  text-align: center;
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.button-86 {
  all: unset;
  width: 60%;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


#button-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    align-items: center;
    justify-content: center;
}