body{
    font-family: Raleway;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/26274.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(173, 216, 230, 0.521);
    border: 2px paleturquoise solid;
    border-radius: 5px;
    width: 20%;
    margin-top: 25px;
    margin-left: 15px;
    padding: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px skyblue;
    transition: all, 225ms;
    position: relative;
    right: 5px;
    bottom: 700px;
}

.info-container:hover{
    background-color: rgba(179, 211, 222, 0.608);
}

.inputs{
    border: 1px solid plum;
    border-radius: 5px;
    outline: none;
    transition: all 125ms;
}

.inputs:hover{
    border-width: 2px;
    box-shadow: 0 0 10px rgb(251, 163, 251);
}

.inputs:active{
    border-width: 2px;
    box-shadow: 0 0 10px rgb(251, 163, 251);    
}
canvas {
    position: relative;
    bottom: 70px;
    left: 22%;
}

#title{
    color:plum;
    margin-left: 1%;
    font-family: Raleway;
    font-size: 30px;
    position: relative;
    margin: none;
    text-shadow: 0 0 10px rgb(238, 183, 238);
}

#explanations{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 128, 128, 0.59);
    border-radius: 5px;
    width: 20%;
    position: relative;
    bottom: 700px;
    margin-left: 12px;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px lightsalmon;
}
